.button {
  background-color: transparent;
  border: none;
  color: #3590f5;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button:disabled {
  background-color: #505050;
  color: #ccc;
}

.register-btn {
  background-color: #3590f5;
  border-radius: 100px;
  color: white;
}

.bigger-btn {
  flex-shrink: 0;
  height: 55px;
  width: 256px;
}
