.card {
  background-color: #323544;
  border-radius: 10px;
  color: white;
  height: 240px;
  margin-bottom: 60px;
  padding: 8px 15px;
  position: relative;
  width: 320px;
}

h4 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

a {
  align-items: center;
  color: #3590f5;
  display: flex;
  font-size: 28px;
  justify-content: space-between;
  text-align: right;
  text-decoration: none;
}

.lock-icon {
  color: #9cbce0;
  font-size: 28px;
}

.link-icon {
  color: #9cbce0;
  font-size: 22px;
  margin-left: 5px;
}

.info-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.info-content span {
  font-size: 16px;
}

.info {
  color: #9cbce0;
  margin-right: 10px;
}

.info-container:after {
  background-color: #303030;
  content: '';
  display: block;
  flex-basis: 100%;
  height: 1px;
  margin: 10px 0;
  width: 100%;
}

@media only screen and ( min-width : 480px ) {

  .card-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }

  .card {
    margin: 30px;
  }
}

@media only screen and ( min-width : 768px ) and ( max-width : 1100px ) {

  .card-container {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    width: 760px;
  }

}

@media only screen and ( min-width : 1100px ) {

  .card-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 1140px;
  }

  .card {
    margin: 30px;
  }
}

