.card {
  background-color: #323544;
  border-radius: 10px;
  color: white;
  height: 240px;
  padding: 8px 15px;
  position: relative;
  width: 320px;
  margin-bottom: 60px;
}

h4 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

a {
  color: #3590f5;
  display: flex;
  font-size: 28px;
  justify-content: space-between;
  text-align: right;
  text-decoration: none;
  align-items: center;
}

.lock-icon {
  color: #9cbce0;
  font-size: 28px;
}

.link-icon {
  color: #9cbce0;
  font-size: 22px;
  margin-left: 5px;
}

.info-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.info-content span {
  font-size: 16px;
}

.info {
  color: #9cbce0;
  margin-right: 10px;
}

.info-container:after {
  background-color: #303030;
  content: '';
  display: block;
  flex-basis: 100%;
  height: 1px;
  margin: 10px 0;
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .card-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    align-items: center;
  }
  .card {
   margin: 30px ;
  }
}

@media only screen and (min-width: 768px ) and (max-width: 1100px) {
  .card-container{
    justify-content: flex-start;
    width: 760px;
    margin: auto;
    flex-wrap: wrap;
  }

}
@media only screen and (min-width: 1100px )  {
   .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 1140px;
      align-items: center;
    }
  
    .card {
      margin: 30px;
    } 
}



