.form-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  height: 550px;
  margin-bottom: 50px;
  min-width: 380px;
  padding: 0 8px;
}

.form {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 420px;
}

.form-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-button button {
  margin: 16px 0;
}

.validation {
  align-items: flex-start;
  background: #252730;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 80%;
}
